// Begin colors

$base-clr: #2ca8c8;
$base-20l: (lighten($base-clr, 20%));
$base-20d: (darken($base-clr, 20%));

$accent-clr: #e71414;
$accent-20l: (lighten($accent-clr, 20%));
$accent-20d: (darken($accent-clr, 20%));

$primary-grey: #6f6f6f;
$light-grey: #c0c0c0;
// $gray_60:
