!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title Page
    %meta{:content => "content", :name => "Keywords"}
    %meta{:content => "description of page", :content => "Description"}
    %link{:href => "css/styles.css", :rel => "stylesheet"}

  %body
    %header
      %h1 Text

    %main

    %footer
