@import "partials/reset";

@mixin respond-at($media) {
  @media only screen and (min-width: $media) { @content; }
}

@mixin respond-ht($media) {
  @media only screen and (min-height: $media) { @content; }
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
$base-clr: #2ca8c8;
$base-20l: (lighten($base-clr, 20%));
$base-20d: (darken($base-clr, 20%));
$accent-clr: #e71414;
$accent-20l: (lighten($accent-clr, 20%));
$accent-20d: (darken($accent-clr, 20%));
$primary-grey: #6f6f6f;
$light-grey: #c0c0c0;

// Width Breakpoints
$bp-xsmall: 600px;
$bp-small: 780;
$bp-med: 1060px;
$bp-large: 1400px;

// Height Breakpoints
$bph-small: 740px;
$bph-med: 825px;

body {
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
  color: $primary-grey;
}

h1 {
  font-size: 1.5em;

  &::first-letter {
    text-transform: capitalize;
  }

  @include respond-at($bp-med) {
    font-size: 2em;
  }

  @include respond-at($bp-large) {
    font-size: 4em;
  }
}

h2 {
  font-size: 1.25em;

  &::first-letter {
    text-transform: capitalize;
  }

  @include respond-at($bp-med) {
    font-size: 1.5em;
  }

  @include respond-at($bp-large) {
    font-size: 2em;
  }
}

h3 {
  font-size: 1em;

  &::first-letter {
    text-transform: capitalize;
  }

  @include respond-at($bp-med) {
    font-size: 1.25em;
  }

  @include respond-at($bp-large) {
    font-size: 1.5em;
  }
}

h4 {
  font-size: 1em;

  &::first-letter {
    text-transform: capitalize;
  }

  @include respond-at($bp-med) {
    font-size: 1em;
  }

  @include respond-at($bp-large) {
    font-size: 1em;
  }
}

.text-bold {
  font-weight: 600;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
  flex-wrap: wrap;

  @include respond-at($bp-med) {
    min-height: 100vh;
  }
}

/* calendar */
.cal__container {
  flex: 1 1 auto;
  width: 98%;
  margin: 5px;
  padding: 1%;
  border-radius: 25px;
  border-style: solid;
  border-width: 1px;
  border-color: $light-grey;
  display: flex;
  flex-direction: column;
  // background-color: blue;
  @include respond-at($bp-large) {
    width: 60%;
  }
}

.cal__heading {
  display: flex;
  justify-content: center;
}

.cal__week {
  display: flex;
  justify-content: center;
}

.cal__week__day {
  margin: 10px;
  flex: 1 1 auto;
  width: 12%;
  display: flex;
  justify-content: center;
}

.cal__week__day--text {
  font-size: 0;
  width: 0;
  // background-color: blue;

  &::first-letter {
    font-size: 20px;
  }

  @include respond-at($bp-xsmall) {
    font-size: inherit;
    width: auto;

    &::first-letter {
      font-size: inherit;
    }
  }
}

.cal__days__grid {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.cal__days__spacer {
  padding: 1em;
  margin: 10px 1% 0 0;
  display: flex;
  flex: 1 1 auto;
  width: 12%;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0);
  order: 0;
}

.cal__days__day {
  @extend .cal__days__spacer;

  background-color: #dff8fd;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #c3f3fd;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.15);
  order: 1;
}

.cal__days__spacer--end {
  @extend .cal__days__spacer;

  order: 2;
}

.cal__days__day--text {
  visibility: hidden;
  height: 0;

  @include respond-at($bp-xsmall) {
    visibility: visible;
    height: auto;
  }
}

.cal__days__day--ordinal {
  visibility: hidden;
  height: 0;

  @include respond-at($bp-xsmall) {
    visibility: visible;
    height: auto;
  }
}

.cal__days__day--weekend {
  background-color: #fefde6;
  border-color: #fefabd;
}

.cal__days__day--today {
  background-color: #fddfed;
  border-color: #febddb;
}

.cal__week__day {
  order: 1;
}

.cal__week__day--first {
  order: 0;
}

.cal__week__day--last {
  order: 2;
}

.today__container {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  width: 98%;
  flex-direction: row; //switch this to row for horizontal layout
  align-items: flex-start; //this needs to change to flex-start if row
  margin: 5px;
  padding: 10px;
  border-radius: 25px;
  border-style: solid;
  border-width: 1px;
  border-color: $light-grey;
  // background-color: pink;
  @include respond-at($bp-med) {
    flex-direction: row;
    align-items: center;
  }

  @include respond-at($bp-large) {
    flex-direction: column;
    width: 10%;
    flex-wrap: nowrap;
  }
}

.clockdate__container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 55%;
  // margin: 5% 1%;
  margin-bottom: 5px;
  margin-top: 5px;
  align-items: center;
  justify-content: center;
  // background-color: pink;
  @include respond-at($bp-xsmall) {
    width: 45%;
  }

  @include respond-at($bp-med) {
    width: 45%;
  }

  @include respond-at($bp-large) {
    width: 100%;
  }
}

// .clockdate__title__container {
//   width: 100%;
//   flex: 1 1 auto;
//   // background-color: green;
// }

.clockdate__string__container {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.clockdate__digit__container {
  flex: 1 1 auto;
  flex-direction: column;
  display: flex;
  justify-content: left;
  align-items: center;
}
