// This base sets some of the top level variables but nothing that actually outputs css

// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Base Font
$base-font-family: sans-serif;
$base-font-weight: $regular;
$base-font-size: 13px;
$base-line-height: 1.4;

// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Headings
$header-font-weight: $bold;

// Border Properties
$border-radius: 10px;
$border-style: solid;

// This imports all modules inside the modules directory that have been added to the _all partial
@import "modules/all";
