// Font weights
$light: 200;
$regular: 400;
$bold: 700;

// Base Font
$base-font-family: 'Josefin Sans', sans-serif;
$base-font-weight: $regular;
$base-line-height: 1.25;
$base-line-height-taller: 1.5;
$base-line-height-shorter: 1;

body {
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-weight: $regular;
  line-height: $base-line-height;
  color: $primary-grey;
}
